@charset "utf-8";

* 
*::before
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 20px/1.5 Dotum, Gulim, "돋움", "돋움체", "굴림", "굴림체"
}

a, a:link {
    color: inherit;
    text-decoration: none;
}
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}